* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

#selectors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#template {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#resultH1 {
    text-align: center;
}

#numbersForm {
    padding: 5px;
    flex-direction: row;
    justify-content: center;
}

#numbersInput {
    margin: 2px;
}

#progressBar {
    width: 1%;
    height: 20px;
    background-color: aqua;
}
