* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

#selectors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.1em;
    grid-gap: 0.1em;
}

.gridItem {
    margin: 0.1em;
    width: auto;
    height: 100px;
}

#liststyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.listItem {
    display: flex;
}

#results {
    display: flex;
    justify-content: center;
    text-align: center;
}

#forms {
    display: flex;
    justify-content: center;
}

#numbersForm #participantForm {
    padding: 5px;
    flex-direction: row;
    justify-content: center;
}

#numbersInput {
    margin: 2px;
}
*/
