* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 5px 0 5px;
    background-color: whitesmoke;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 1.5em;
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-size: larger;
}

#selectors {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-top: 25px;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.1em;
    grid-gap: 0.1em;
}

.gridItem {
    margin: 0.1em;
    width: auto;
    height: 60px;
}

.flexCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#liststyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.winnerList {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: decimal;
}

.winnerList :first-child{
    font-size: xx-large;
    text-decoration: underline;
}

.listItem {
    display: flex;
}

#results {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
    text-align: center;
}

#forms {
    display: flex;
    justify-content: center;
}

#numbersForm #participantForm {
    padding: 5px;
    flex-direction: row;
    justify-content: center;
}

#numbersInput {
    margin: 2px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:blueviolet;
    color: white;
    text-align: center;
}

#footer a {
    list-style: none;
    background-color:inherit;
    color: white;
}
